.back{
    background-color: #ECEBED;
}
.margins{
    margin-bottom: 3rem;
}
.products__encabezado{
    display: flex;
    justify-content: space-between;
}
.products__titulo{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* .iconos__container{
    position: relative;
    top: 40px;
} */
.delete__icon{
    width: 30px;
    position: absolute;
    right: 50px;
    top: 10px;
    cursor: pointer;
    filter: brightness(0);
}
.edit__icon{
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    filter: brightness(0);
}
